<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="BuildVersionIncrement.BuildVersionIncrementSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<log4Net>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<threshold value="Debug"/>
			<file value =".\\App_Data\log4net.logs\bvi"/>
			<datePattern value=".yyyy-MM-dd.lo\g" />
			<appendToFile value="true"/>
			<maximumFileSize value="1024KB"/>
			<maxSizeRollBackups value="2"/>
			<rollingStyle value="Date"/>
			<staticLogFileName value="false"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimumLock"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%utcdate UTC %-6level%logger - %message%newline"/>
			</layout>
		</appender>
		<appender name="OutputWindowAppender" type="BuildVersionIncrement.OutputWindowAppender">
			<threshold value="Info"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%utcdate UTC %-6level%logger - %message%newline"/>
			</layout>
		</appender>
		<root>
			<appender-ref ref="FileAppender"/>
			<appender-ref ref="OutputWindowAppender"/>
		</root>
	</log4Net>
	<userSettings>
		<BuildVersionIncrement.BuildVersionIncrementSettings>
			<setting name="IsEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="LastVersionCheck" serializeAs="String">
				<value>1970-01-01</value>
			</setting>
			<setting name="GlobalAutoUpdateAssemblyVersion" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="GlobalStartDate" serializeAs="String">
				<value>2000-01-01</value>
			</setting>
			<setting name="GlobalBuildAction" serializeAs="String">
				<value>Both</value>
			</setting>
			<setting name="GlobalAutoUpdateFileVersion" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="GlobalMajor" serializeAs="String">
				<value>None</value>
			</setting>
			<setting name="GlobalMinor" serializeAs="String">
				<value>None</value>
			</setting>
			<setting name="GlobalBuild" serializeAs="String">
				<value>None</value>
			</setting>
			<setting name="GlobalRevision" serializeAs="String">
				<value>None</value>
			</setting>
			<setting name="GlobalReplaceNonNumeric" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="GlobalUseUniveralClock" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="GlobalIncrementBeforeBuild" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="GlobalApply" serializeAs="String">
				<value>OnlyWhenChosen</value>
			</setting>
			<setting name="IsVerboseLogEnabled" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="DetectChanges" serializeAs="String">
				<value>True</value>
			</setting>
		</BuildVersionIncrement.BuildVersionIncrementSettings>
	</userSettings>
</configuration>