<?xml version="1.0" encoding="utf-8" ?>
<log4Net>
	<appender name="ActivityLogAppender" type="BuildVersionIncrement.Logging.ActivityLogAppender">
		<threshold value="Debug"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%utcdate UTC %-6level%logger - %message%newline"/>
		</layout>
	</appender>
	<appender name="OutputWindowAppender" type="BuildVersionIncrement.Logging.OutputWindowAppender">
		<threshold value="Info"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%utcdate UTC %-6level%logger - %message%newline"/>
		</layout>
	</appender>
	<root>
		<appender-ref ref="ActivityLogAppender"/>
		<appender-ref ref="OutputWindowAppender"/>
	</root>
</log4Net>